amends "package://github.com/jdx/hk/releases/download/v1.1.2/hk@1.1.2#/Config.pkl"
import "package://github.com/jdx/hk/releases/download/v1.1.2/hk@1.1.2#/Builtins.pkl"

local linters = new Mapping<String, Step> {
    ["actionlint"] {
        glob = List(".github/workflows/*.{yml{% if is_template %}{% raw %},yml[{]% endif %[}]}{% endraw %}{% endif %}}")
        batch = true
        check = "actionlint {{ files }}"
    }
    ["cspell"] {
        glob = "*"
        check = "cspell lint -c .config/cspell.yaml --quiet {% raw %}{{files}}{% endraw %}"
    }
    ["markdownlint"] {
        glob = "*.{md{% if is_template %}{% raw %},md[{]% endif %[}]{% endraw %}{% endif %}}"
        stage = "*.{md{%- if is_template %}{% raw %},md[{]% endif %[}]{% endraw %}{% endif %}}"
        check = "markdownlint-cli2 --config .config/.markdownlint.yaml {% raw %}{{ files }}{% endraw %}"
        fix = "markdownlint-cli2 --config .config/.markdownlint.yaml --fix {% raw %}{{ files }}{% endraw %}"
        exclude = "{CHANGELOG.md}"
    } 
    ["markdown-link-check"] {
        glob = "*.{md{% if is_template %}{% raw %},md[{]% endif %[}]{% endraw %}{% endif %}}"
        check = "markdown-link-check {{ files }}"
        exclude = "{CHANGELOG.md{% if is_template %},template/**{% endif %}}"
    }
    ["pkl"] {
        glob = "*.pkl"
        check = "pkl eval {% raw %}{{files}}{% endraw %}"
    }
    ["prettier"] = (Builtins.prettier) {
        exclude = "{.release-please-manifest.json}"
    }
    ["ruff"] {
        glob = "*.{py{% if is_template %}{% raw %},py[{]% endif %[}]}{% endraw %}{% endif %}}"
        stage = "*.{py{% if is_template %}{% raw %},py[{]% endif %[}]}{% endraw %}{% endif %}}"
        check = "ruff check --config .config/ruff.toml {% raw %}{{ files }}{% endraw %}"
        fix = "ruff check --config .config/ruff.toml --fix {% raw %}{{ files }}{% endraw %}"
    }
    ["taplo"] = Builtins.taplo
    ["yamllint"]  {
        glob = "*.{yml,yaml{% if is_template %}{% raw %},yml[{]% endif %[}],yaml[{]% endif %[}]}{% endraw %}{% endif %}}"
        check = "yamllint -c .config/.yamllint.yaml {% raw %}{{ files }}{% endraw %}"
        exclude = "{.copier-answers.yml}"
    } 
}

hooks {
    ["commit-msg"] {
        steps {
            ["validate-commit-msg"] {
                check = "commitlint --config .config/.commitlintrc.yaml --edit {% raw %}{{commit_msg_file}}{% endraw %}"
            }
        }
    }
    ["pre-commit"] {
        fix = true    // automatically modify files with available linter fixes
        stash = "git" // stashes unstaged changes while running fix steps
        steps {
            ...linters // add all linters defined above
        }
    }
    // instead of pre-commit, you can instead define pre-push hooks
    ["pre-push"] {
        steps = linters
    }
    // "fix" and "check" are special steps for `hk fix` and `hk check` commands
    ["fix"] {
        fix = true
        steps = linters
    }
    ["check"] {
        steps = linters
    }
}
