[env]
_.python.venv = { path = ".venv", create = true }

[hooks]
postinstall = [
    "hk install --mise",
    "pip install -r .config/requirements.txt --require-virtualenv -q"
]

[settings]
experimental = true # Needed for hooks as of 2025/05/31

[tools]
# Project Tools
hk = "v1.1.2"
python = "3.13.3"
# Backends
java = "temurin-jre-24.0.1+9" # Used by pkl VSCode plugin; can be removed when this is resolved: https://github.com/apple/pkl-lsp/issues/60
node = "22.16.0" # Used by cspell, markdownlint
pkl = "0.28.2" # Used by hk
# Linters
actionlint = "v1.7.7"
markdownlint-cli2 = "v0.18.1"
"npm:cspell" = "v9.0.2"
"pipx:yamlfix" = "1.16.1"
"pipx:yamllint" = "1.37.1"
ruff = "0.11.12"
shellcheck = "v0.10.0"
