[tools]
# Tools
{#- renovate: datasource=pypi depName=apprise versioning=pep440 #}
"pipx:apprise" = "1.9.9"
{%- if using_azdo %}
{#- renovate: datasource=pypi depName=commitizen versioning=pep440 #}
"pipx:commitizen" = "4.13.9"
{%- endif %}
{%- if zensical_ghpages %}

[tools."pipx:git+https://github.com/squidfunk/mike.git"]
uvx_args = "--with zensical==0.0.31"
{%- endif %}
