[hooks]
postinstall = ["mise run set_up_git_hooks"]

[settings]
experimental = true # Needed for hooks as of v2025.6.2
windows_default_inline_shell_args = "powershell.exe /c"

[tasks.set_up_git_hooks]
run = '''
#!/usr/bin/env sh

if [ -n "$GITHUB_ACTIONS" ] || [ -n "$TF_BUILD" ]; then
    echo "\033[93mNot setting up git hooks as mise is running in CI!\033[00m"
else
    pre-commit install -c .config/.pre-commit-config.yaml
fi
'''
run_windows = '''
if ($env:GITHUB_ACTIONS -or $env:TF_BUILD) {
    Write-Host -ForegroundColor Yellow -Object "Not setting up git hooks as mise is running in CI!"
} else {
    pre-commit install -c .config\.pre-commit-config.yaml
}
'''

[tasks.copier-update]
run = "copier update --skip-answered --trust"

[tasks.docs-server]
run = "mkdocs serve -f .config/mkdocs/mkdocs.yml"

[tasks.test]
run = "pre-commit run -c .config/.pre-commit-config.yaml --all-files"

[tools]
# Backends
{#- renovate: datasource=python-version depName=python versioning=python #}
python = "3.13.6" # Used by copier and pre-commit
# Tools
{#- renovate: datasource=pypi depName=pre-commit versioning=pep440 #}
"pipx:pre-commit" = "4.2.0"
{#- renovate: datasource=github-releases depName=astral-sh/uv #}
uv = "0.8.8" # Used by pipx tools
{#- renovate: datasource=github-releases depName=google/yamlfmt #}
yamlfmt = "0.17.2" # Needed by VSCode extension bluebrown.yamlfmt, can be removed when https://github.com/bluebrown/vscode-extension-yamlfmt/issues/2 is resolved

[tools."pipx:copier"]
version = "9.9.0"
uvx_args = "--with copier-template-extensions==0.3.3 --with jinja2-shell-extension==2.1.1 --with jinja2-time==0.2.0"

[tools."pipx:invoke"]
version = "2.2.0"
uvx_args = "--with copier==9.9.0 --with githubkit==0.13.1 --with requests==2.32.4 --with rich==14.1.0"

[tools."pipx:mkdocs"]
version = "1.6.1"
uvx_args = "--with mkdocs-material==9.6.16 --with mkdocs-static-i18n==1.3.0 --with mike==2.1.3"
