{
  "writerOpts": {
    "reverse": false,
    "commitsSort": false
  },
  "parserOpts": {
    "headerPattern": "(?:\\(Merged PR \\d+: \\))?([a-zA-Z]+)(?:\\(([\\w$\\.\\-*\\s]*)\\))?\\!?:(.*)"
  },
  "bumpFiles": [
    {
      "filename": ".version.txt",
      "type": "plain-text"
    }
  ],
  "releaseCommitMessageFormat": {% raw %}"chore: release {{currentTag}} [skip ci]"{% endraw %},
  "types": [
    {
      "type": "build",
      "section": "Build System",
      "hidden": false
    },
    {
      "type": "chore",
      "section": "Miscellaneous",
      "hidden": true
    },
    {
      "type": "ci",
      "section": "CI/CD Workflows",
      "hidden": false
    },
    {
      "type": "docs",
      "section": "Documentation",
      "hidden": false
    },
    {
      "type": "feat",
      "section": "Features",
      "hidden": false
    },
    {
      "type": "fix",
      "section": "Bug Fixes",
      "hidden": false
    },
    {
      "type": "perf",
      "section": "Performance Improvements",
      "hidden": false
    },
    {
      "type": "refactor",
      "section": "Code Refactoring",
      "hidden": false
    },
    {
      "type": "revert",
      "section": "Code Reversions",
      "hidden": false
    },
    {
      "type": "style",
      "section": "Coding Conventions",
      "hidden": true
    },
    {
      "type": "test",
      "section": "Automated Tests",
      "hidden": false
    }
  ],
{%- if is_prerelease %}
  "preMajor": true,
{%- endif %}
  "skip": {
    "bump": false,
    "changelog": false,
    "commit": false,
    "tag": false
  },
  "tagPrefix": "v",
  "noVerify": true,
  "commitAll": false
}
