{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "dependencyDashboard": false,
  "extends": ["config:recommended"],
  {%- if is_template or (is_standard and using_azdo) %}
  "azure-pipelines": {
    "enabled": true,
    "fileMatch": [
      {%- if is_template %}
      {% raw %}"(^|/)(?:{%.*%})?\\.azurepipelines(?:{%.*%})?/.+\\.ya?ml(?:{%.*%})?(?:\\.jinja)?$"{% endraw %}
      {%- else %}
      "(^|/)\\.azurepipelines/.+\\.ya?ml$"
      {%- endif %}
    ]
  },
  {%- endif %}
  "copier": {
    // Copier template updates are handled via dedicated GitHub Actions Workflow/Azure DevOps pipeline
    "enabled": false
  },
  "docker": {
    "pinDigests": true
  },
  {%- if is_template %}
  "devcontainer": {
    "fileMatch": ["(^|/)devcontainer\\.json(?:\\.jinja)?$"]
  },
  "github-actions": {
    "fileMatch": [
      {% raw %}"(^|/)(?:{%.*%})?\\.github(?:{%.*%})?/workflows/.+\\.ya?ml(?:{%.*%})?$"{% endraw %}
    ]
  },
  {%- endif %}
  "packageRules": [
    {
      "description": "Don't pin digests in devcontainer.json because it's not supported in features",
      "matchManagers": ["devcontainer"],
      "pinDigests": false
    }{% if is_template or (is_standard and using_azdo) %},
    {
      "description": "Use standard major version numbers for Azure Pipelines",
      "matchDatasources": ["azure-pipelines-tasks"],
      "extractVersion": "^(?<version>\\d+)"
    }
    {%- endif %}
  ]
}
