{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "dependencyDashboard": {% if using_github %}true{% else %}false{% endif %},
  "extends": [
    "config:recommended",
    "helpers:pinGitHubActionDigests"
  ],
  "schedule": [
    "* 0 1 * *"
  ],
  {%- if is_template or (is_standard and using_azdo) %}
  "azure-pipelines": {
    "enabled": true,
    "managerFilePatterns": [
      {%- if is_template %}
      {% raw %}"/(^|/)(?:{%.*%})?\\.azurepipelines(?:{%.*%})?/.+\\.ya?ml(?:{%.*%})?(?:\\.jinja)?$/"{% endraw %}
      {%- else %}
      "/(^|/)\\.azurepipelines/.+\\.ya?ml$/"
      {%- endif %}
    ]
  },
  {%- endif %}
  "copier": {
    "description": "Copier template updates are handled via dedicated GitHub Actions Workflow/Azure DevOps pipeline",
    "enabled": false
  },
  {%- if is_template %}
  "devcontainer": {
    "managerFilePatterns": [
      "/(^|/)devcontainer\\.json(?:\\.jinja)?$/"
    ]
  },
  "github-actions": {
    "managerFilePatterns": [
      {% raw %}"/(^|/)(?:{%.*%})?\\.github(?:{%.*%})?/workflows/.+\\.ya?ml(?:{%.*%})?(?:\\.jinja)?$/"{% endraw %}
    ]
  },
  {%- endif %}
  "packageRules": [
    {
      "matchCategories": [
        "docker"
      ],
      "pinDigests": true
    },
    {
      "description": "Group actionlint",
      "matchPackageNames": [
        "actionlint",
        "rhysd/actionlint"
      ],
      "groupName": "actionlint"
    },
    {
      "description": "Group apprise",
      "matchPackageNames": [
        "apprise",
        "pipx:apprise"
      ],
      "groupName": "apprise"
    },
    {
      "description": "Group commitizen",
      "matchPackageNames": [
        "commitizen",
        "pipx:commitizen"
      ],
      "groupName": "commitizen"
    },
    {
      "description": "Group committed",
      "matchPackageNames": [
        "committed",
        "crate-ci/committed"
      ],
      "groupName": "committed"
    },
    {
      "description": "Group copier",
      "matchPackageNames": [
        "copier",
        "pipx:copier"
      ],
      "groupName": "copier"
    },
    {
      "description": "Group lychee",
      "matchPackageNames": [
        "lychee",
        "lycheeverse/lychee"
      ],
      "groupName": "lychee"
    },
    {
      "description": "Group mike",
      "matchPackageNames": [
        "mike",
        "pipx:mike"
      ],
      "groupName": "mike"
    },
    {
      "description": "Group prek",
      "matchPackageNames": [
        "j178/prek",
        "aqua:j178/prek"
      ],
      "groupName": "prek"
    },
    {
      "description": "Group ruff",
      "matchPackageNames": [
        "ruff",
        "astral-sh/ruff"
      ],
      "groupName": "ruff"
    },
    {
      "description": "Group rumdl",
      "matchPackageNames": [
        "rumdl",
        "rvben/rumdl"
      ],
      "groupName": "rumdl"
    },
    {
      "description": "Group ryl",
      "matchPackageNames": [
        "owenlamont/ryl",
        "aqua:owenlamont/ryl"
      ],
      "groupName": "ryl"
    },
    {
      "description": "Group shellcheck",
      "matchPackageNames": [
        "shellcheck",
        "koalaman/shellcheck"
      ],
      "groupName": "shellcheck"
    },
    {
      "description": "Group tombi",
      "matchPackageNames": [
        "tombi-toml/tombi",
        "aqua:tombi-toml/tombi"
      ],
      "groupName": "tombi"
    },
    {
      "description": "Group typos",
      "matchPackageNames": [
        "crate-ci/typos",
        "aqua:crate-ci/typos"
      ],
      "groupName": "typos"
    },
    {
      "description": "Group uv",
      "matchPackageNames": [
        "uv",
        "astral-sh/uv"
      ],
      "groupName": "uv"
    },
    {
      "description": "Group zensical",
      "matchPackageNames": [
        "zensical",
        "pipx:zensical"
      ],
      "groupName": "zensical"
    }{% if is_template or (is_standard and using_azdo) %},
    {
      "description": "Use standard major version numbers for Azure Pipelines",
      "matchDatasources": ["azure-pipelines-tasks"],
      "extractVersion": "^(?<version>\\d+)"
    }
    {%- endif %}
  ],
  "customManagers": [
    {%- if is_template %}
    {
      "description": "Manager for simple mise tools",
      "customType": "regex",
      "managerFilePatterns": [
        "/mise\\..*toml\\.jinja/"
      ],
      "matchStrings": [
        {% raw %}"{#[-]? renovate: datasource=(?<datasource>[a-z-.]+?) depName=(?<depName>[^\\s]+?)(?: (lookupName|packageName)=(?<packageName>[^\\s]+?))?(?: versioning=(?<versioning>[^\\s]+?))?(?: extractVersion=(?<extractVersion>[^\\s]+?))?(?: registryUrl=(?<registryUrl>[^\\s]+?))?\\s*#}\\s+[A-Za-z0-9_\\-\"':/]+\\s?=\\s?[\"'](?<currentValue>[^\"']*)[\"'].*"{% endraw %}
      ],
      "versioningTemplate": {% raw %}"{{#if versioning}}{{{versioning}}}{{else}}semver-coerced{{/if}}"{% endraw %}
    },
    {
      "description": "Manager for pipx git-sourced tools",
      "customType": "regex",
      "managerFilePatterns": [
        "/(^|/)mise(\\.\\w+)*\\.toml(\\.jinja)?$/"
      ],
      "matchStrings": [
        "\\[tools\\.\"pipx:git\\+https://github\\.com/(?<packageName>[^/]+/[^\"]+)\\.git\"\\]\\s+version = \"(?<currentValue>[^+\"]*)"
      ],
      "datasourceTemplate": "github-releases",
      "versioningTemplate": "semver"
    },
    {
      "description": "Manager for pipx tools with options",
      "customType": "regex",
      "datasourceTemplate": "pypi",
      "managerFilePatterns": [
        "/mise\\..*toml\\.jinja/"
      ],
      "matchStrings": [
        "\\[tools\\.\"?pipx:(?<depName>[A-Za-z0-9_.-]+)\"?\\]\\sversion = \"(?<currentValue>[^\\s]*)\""
      ],
      "versioningTemplate": "pep440"
    },
    {%- endif %}
    {
      "description": "Manager for pipx tool dependencies",
      "customType": "regex",
      "datasourceTemplate": "pypi",
      "managerFilePatterns": [
        "/mise\\..*toml(?:\\.jinja)?/"
      ],
      "matchStrings": [
        ".*?(--with\\s(?<depName>.+?)(\\[\\S+])*==(?<currentValue>[^\"\\s]*))"
      ],
      "versioningTemplate": "pep440"
    }
  ]
}
