{
  // Core config
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "dependencyDashboard": false,
  "extends": [
    "config:recommended"
  ],
  // Per-provider config
  {%- if is_template or (is_standard and using_azdo) %}
  "azure-pipelines-tasks": {
    "enabled": true,
    "fileMatch": [
      {%- if is_template %}
      {% raw %}"(^|/)(?:{%.*%})?\\.azurepipelines(?:{%.*%})?/.+\\.ya?ml(?:{%.*%})?(?:\\.jinja)?$"{% endraw %}
      {%- else %}
      "(^|/)\\.azurepipelines/.+\\.ya?ml$"
      {%- endif %}
    ]
  },
  {%- endif %}
  "copier": {
    // Renovate's copier support requires self-hosting Renovate
    "enabled": false
  },
  "docker": {
    "pinDigests": true
  },
  {%- if is_template %}
  "devcontainer": {
    "fileMatch": [
      "(^|/)devcontainer\\.json(?:\\.jinja)?$"
    ]
  },
  "github-actions": {
    "fileMatch": [
      {% raw %}"(^|/)(?:{%.*%})?\\.github(?:{%.*%})?/workflows/.+\\.ya?ml(?:{%.*%})?$"{% endraw %}
    ]
  },
  {%- endif %}
  // Package rules
  "packageRules": [
    {
      "description": "Don't pin digests in devcontainer.json because it's not supported in features",
      "matchManagers": [
        "devcontainer"
      ],
      "pinDigests": false
    }{% if is_template or (is_standard and using_azdo) %},
    {
      "description": "Use standard major version numbers for Azure Pipelines",
      "matchDatasources": [
        "azure-pipelines-tasks"
      ],
      "extractVersion": "^(?<version>\\d+)"
    }
    {%- endif %}
  ],
  // Custom Managers
  "customManagers": [
    {
      "customType": "regex",
      "fileMatch": [
        ".*jinja$"
      ],
      "matchStrings": [
        "{#[-]? renovate: datasource=(?<datasource>[a-z-.]+?) depName=(?<depName>[^\\s]+?)(?: (lookupName|packageName)=(?<packageName>[^\\s]+?))?(?: versioning=(?<versioning>[^\\s]+?))?(?: extractVersion=(?<extractVersion>[^\\s]+?))?(?: registryUrl=(?<registryUrl>[^\\s]+?))?\\s*#}\\s+[A-Za-z0-9_\\-\"':]+\\s?=\\s?[\"'](?<currentValue>[^\"']*)[\"'].*"
      ],
      "versioningTemplate": "{{#if versioning}}{{{versioning}}}{{else}}semver-coerced{{/if}}"
    }
  ]
}
