# {{ project_name }}
{%- if is_public %}

[![All Contributors](https://img.shields.io/github/all-contributors/{{ github_repo_owner }}/{{ repo_name }}?color=ee8449&style=flat-square)](#contributors)
{%- endif -%}
{%- if is_prerelease %}

<!-- prettier-ignore-start -->
| :exclamation:  Notice: This project is currently in a {{ lifecycle }} state and {% if lifecycle == "Pre-Alpha" or lifecycle == "Alpha" %}is not ready for public use{% else %}should be used with caution{% endif %}. |
| ------------------------------------------------------------------------------------ |
<!-- prettier-ignore-end -->
{%- elif lifecycle == "Inactive" %}

| :zap: Notice: This project is no longer under active development. |
|------------------------------------------------------------------ |
{%- endif %}

Describe your project here.

### Documentation

{%- if mkdocs_ghpages %}
For detailed documentation, see [https://{{github_repo_owner}}.github.io/{{repo_name}}](https://{{github_repo_owner}}.github.io/{{repo_name}}).
{%- endif %}
{%- if mkdocs_local %}
For detailed documentation, clone this repo and open `docs_site/index.html`.
{%- endif %}

{%- if is_public %}

## Questions/Comments

If you have questions, comments, etc, please enter a GitHub Issue with the "question" tag.

## Contributing/Bug Reporting

Contributions and bug reports are gladly accepted! Please see [CONTRIBUTING.md](CONTRIBUTING.md) for details.

## Contributors

<!-- spell-checker:disable -->
<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->

<!-- markdownlint-restore -->
<!-- prettier-ignore-end -->

<!-- ALL-CONTRIBUTORS-LIST:END -->
<!-- spell-checker:enable -->

This project follows the [all-contributors](https://allcontributors.org) specification.
Contributions of any kind are welcome!

## License

This project is licensed under The MIT License - see [LICENSE](LICENSE) for details.
{%- endif %}

## Repository Template

This repository is based on the [{{ parent_template_name }}]({{ parent_template_url }}).
