[tools]
{#- renovate: datasource=pypi depName=apprise versioning=pep440 #}
"pipx:apprise" = "1.12.0"
# Used by the Renovate pipeline (.azurepipelines/maint-auto-renovate.yml.jinja) -- no other AzDO
# pipeline needs Node.js or Renovate itself.
{#- renovate: datasource=node-version depName=node versioning=node #}
node = "24.19.0"
{#- renovate: datasource=npm depName=renovate #}
"npm:renovate" = "44.39.3"
