{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "dependencyDashboard": {%- if using_github %}true{% else %}false{% endif %},
  "extends": [
    "config:recommended"
  ],
  "schedule": [
    "* * 1 * *"
  ],
  {%- if is_template or (is_standard and using_azdo) %}
  "azure-pipelines": {
    "enabled": true,
    "fileMatch": [
      {%- if is_template %}
      {% raw %}"(^|/)(?:{%.*%})?\\.azurepipelines(?:{%.*%})?/.+\\.ya?ml(?:{%.*%})?(?:\\.jinja)?$"{% endraw %}
      {%- else %}
      "(^|/)\\.azurepipelines/.+\\.ya?ml$"
      {%- endif %}
    ]
  },
  {%- endif %}
  "copier": {
    "description": "Copier template updates are handled via dedicated GitHub Actions Workflow/Azure DevOps pipeline",
    "enabled": false
  },
  "docker": {
    "pinDigests": true
  },
  {%- if is_template %}
  "devcontainer": {
    "fileMatch": [
      "(^|/)devcontainer\\.json(?:\\.jinja)?$"
    ]
  },
  "github-actions": {
    "fileMatch": [
      {% raw %}"(^|/)(?:{%.*%})?\\.github(?:{%.*%})?/workflows/.+\\.ya?ml(?:{%.*%})?$"{% endraw %}
    ]
  },
  {%- endif %}
  "packageRules": [
    {
      "description": "Don't pin digests in devcontainer.json because it's not supported in features",
      "matchManagers": [
        "devcontainer"
      ],
      "pinDigests": false
    },
    {
      "description": "Group mike in different files together",
      "matchPackageNames": ["mike", "pipx:mike"],
      "groupName": "mike"
    },
    {
      "description": "Group apprise in different files together",
      "matchPackageNames": ["apprise", "pipx:apprise"],
      "groupName": "apprise"
    }{% if is_template or (is_standard and using_azdo) %},
    {
      "description": "Use standard major version numbers for Azure Pipelines",
      "matchDatasources": [
        "azure-pipelines-tasks"
      ],
      "extractVersion": "^(?<version>\\d+)"
    }
    {%- endif %}
  ],
  "customManagers": [
    {
      "description": "Manager for simple mise tools",
      "customType": "regex",
      "fileMatch": [
        "mise\\..*toml\\.jinja"
      ],
      "matchStrings": [
        {% raw %}"{#[-]? renovate: datasource=(?<datasource>[a-z-.]+?) depName=(?<depName>[^\\s]+?)(?: (lookupName|packageName)=(?<packageName>[^\\s]+?))?(?: versioning=(?<versioning>[^\\s]+?))?(?: extractVersion=(?<extractVersion>[^\\s]+?))?(?: registryUrl=(?<registryUrl>[^\\s]+?))?\\s*#}\\s+[A-Za-z0-9_\\-\"':]+\\s?=\\s?[\"'](?<currentValue>[^\"']*)[\"'].*"{% endraw %}
      ],
      "versioningTemplate": {% raw %}"{{#if versioning}}{{{versioning}}}{{else}}semver-coerced{{/if}}"{% endraw %}
    },
    {
      "description": "Manager for pipx tools with options",
      "customType": "regex",
      "datasourceTemplate": "pypi",
      "fileMatch": [
        "mise\\..*toml\\.jinja"
      ],
      "matchStrings": [
        "\\[tools\\.\"?pipx:(?<depName>[^\"\\]]+)\"?\\]\\sversion = \"(?<currentValue>[^\\s]*)\""
      ],
      "versioningTemplate": "pep440"
    },
    {
      "description": "Manager for pipx tool dependencies",
      "customType": "regex",
      "datasourceTemplate": "pypi",
      "fileMatch": [
        "mise\\..*toml(?:\\.jinja)?"
      ],
      "matchStrings": [
        ".*?(--with\\s(?<depName>.+?)(\\[\\S+])*==(?<currentValue>[^\"\\s]*))"
      ],
      "versioningTemplate": "pep440"
    }
  ]
}
