[env]
_.python.venv = { path = ".venv", create = true }

[hooks]
postinstall = [
    "mise run set_up_git_hooks",
    "mise run pip_install"
]

[settings]
experimental = true # Needed for hooks as of 2025/05/31

[tasks.pip_install]
run = '''
#!/usr/bin/env python

import subprocess

def prCyan(skk): print("\033[96m {}\033[00m" .format(skk))

prCyan("Installing Python dependencies...")
sp = subprocess.run(
    ["pip", "install", "-r", ".config/requirements.txt", "--require-virtualenv"],
    capture_output=True, text=True)

for x in sp.stdout.splitlines():
    if "Requirement already satisfied" not in x:
        print(x)
'''

[tasks.set_up_git_hooks]
run = '''
#!/usr/bin/env python

import os
import subprocess

def prYellow(skk): print("\033[93m {}\033[00m" .format(skk))

github_actions = os.environ.get("GITHUB_ACTIONS")
azure_pipelines = os.environ.get("TF_BUILD")

if github_actions or azure_pipelines:
    prYellow("Not setting up git hooks as mise is running in CI!")
else:
    sp = subprocess.run(["hk", "install", "--mise"], capture_output=True, text=True)
    print(sp.stdout)
'''

[tools]
# Project Tools
hk = "1.1.2"
python = "3.13.3"
# Backends
java = "temurin-jre-24.0.1+9" # Used by pkl VSCode plugin; can be removed when this is resolved: https://github.com/apple/pkl-lsp/issues/60
pkl = "0.28.2" # Used by hk
# Linters
actionlint = "1.7.7"
committed = "1.1.7"
lychee = "0.18.1"
"pipx:yamlfix" = "1.17.0"
"pipx:yamllint" = "1.37.1"
ruff = "0.11.12"
shellcheck = "0.10.0"
taplo = "0.10.0"
typos = "1.33.1"
"ubi:akiomik/mado" = "0.3.0"
