version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

{%- if project_type == 'Template' %}
  - package-ecosystem: "github-actions"
    directory: /template/.github/workflows
    schedule:
      interval: "monthly"
{%- endif %}
