version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      github-actions:
        patterns:
          - "*"
  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: monthly
    groups:
      devcontainer:
        patterns:
          - "*"
{%- if project_type == 'Template' %}
  - package-ecosystem: github-actions
    directory: /template/{% if using_github %}.github{% endif %}/workflows
    schedule:
      interval: monthly
    groups:
      github-actions-template:
        patterns:
          - "*"
  - package-ecosystem: devcontainers
    directory: /template/.devcontainer
    schedule:
      interval: monthly
    groups:
      devcontainer-template:
        patterns:
          - "*"
{%- endif %}
