# Creating a New Project

Before starting, make sure the [Prerequisites](prerequisites.md) are in place.

1. Ensure you have [mise](https://mise.jdx.dev/getting-started.html) installed on your workstation (Linux/macOS/Windows are all supported).
1. Clone this repository and open it in your terminal
1. Run the following to install needed dependencies to use the template:

   ```bash
   mise trust
   mise install
   ```

1. Run the following to create the template, making sure to set the path at the end as appropriate

   ```bash
   mise x "--" copier copy --trust {% if using_github %}https://github.com/{{ github_repo_owner }}/{{ repo_name }}{% elif using_azdo %}git+https://dev.azure.com/{{ azdo_org }}/{{ azdo_project_encoded }}/_git/{{ repo_name }}{% endif %} ~/local-repo-path-here
   ```

See [Template Questions](template-questions.md) for what each prompt during that step controls.
