[default]
extend-ignore-re = [
  {%- if using_github %}
  '\(\[.*\]\(https:\/\/github\.com\/.*\)\)', # CHANGELOG.md links
  {%- elif using_azdo %}
  '\(\[.*\]\(https:\/\/dev\.azure\.com\/.*\)\)', # CHANGELOG.md links
  {%- endif %}
]

[default.extend-words]
# Author Name Components
{%- for name_component in author_name.split(" ") %}
{{ name_component }} = "{{ name_component }}"
{%- endfor %}
{%- if using_github %}
# GitHub Username
{{ github_username }} = "{{ github_username }}"
{%- endif %}
# Repo Name
{{ repo_name }} = "{{ repo_name }}"
# Custom Words Below
