# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY

{#- About the injected answers:
   copyright_year is frozen to the year you first use the template
   project_initialized is hardcoded to True as a universal way to detect if a Copier run is the first run or not
   #}
{{ dict(_copier_answers, copyright_year=copyright_year, project_initialized=True) | to_nice_yaml -}}
