# Getting Started

Documentation is currently being improved, but here is the short version to use this template:

1. Ensure you have [mise](https://mise.jdx.dev/getting-started.html) installed on your workstation (Linux/macOS/Windows are all supported).
1. Clone this repository and open it in your terminal
1. Run the following to install needed dependencies to use the template:

```bash
mise trust
mise install
```

1. Run the following to create the template, making sure to update the path at the end of the command as appropriate

```bash
mise x -- copier copy --trust {% if using_github %}https://github.com/{{ github_repo_owner }}/{{ repo_name }}{% elif using_azdo %}git+https://dev.azure.com/{{ azdo_org }}/{{ azdo_project | replace(" ","%20") }}/_git/{{ repo_name }}{% endif %} ~/path-where-you-want-your-repo-to-live (1)
```

1. This path can be anywhere on your workstation you wish, and it does not need to already exist
