{
  "recommendations": [
    {%- if is_template or (is_standard and using_github) %}
    "github.vscode-github-actions",
    {%- endif %}
    {%- if is_template or (is_standard and using_azdo) %}
    "ms-azure-devops.azure-pipelines",
    {%- endif %}
    {%- if is_template %}
    "ms-azuretools.vscode-docker",
    "ms-python.python",
    "samuelcolvin.jinjahtml",
    "tamasfe.even-better-toml",
    {%- endif %}
    "trunk.io",
    "vivaxy.vscode-conventional-commits"
  ]
}
