{
  "[jinja-md]": {
    "editor.tabSize": 2
  },
  "[jinja-toml]": {
    "editor.tabSize": 2
  },
  "[markdown]": {
    "editor.tabSize": 2
  },
  "evenBetterToml.taplo.configFile.path": ".config/taplo.toml",
  "files.associations": {
    {%- if is_template or using_azdo %}
    "**/.azurepipelines/*.yml": "azure-pipelines",
    {%- endif %}
    {%- if is_template %}
    "**LICENSE*.jinja": "jinja",
    "**.all-contributorsrc*.jinja": "jinja-json",
    "**.json*.jinja": "jinja-json",
    "**.md*.jinja*": "jinja-md",
    "copier.yml": "jinja-yaml",
    "**.y*ml*.jinja": "jinja-yaml",
    "**.json[{]% endif %[}]": "json",
    "**.md[{]% endif %[}]": "markdown",
    "**.y*ml[{]% endif %[}]": "yaml",
    "**.py[{]% endif %[}]": "python",
    "**.toml[{]% endif %[}]": "toml",
    {%- endif %}
    "**.json5": "jsonc"
  },
  "markdown.validate.ignoredLinks": [
    // START Ignore allcontributors links
    "#audio*",
    "#a11y*",
    "#bug*",
    "#blog*",
    "#business*",
    "#code*",
    "#content*",
    "#data*",
    "#doc*",
    "#design*",
    "#example*",
    "#eventOrganizing*",
    "#financial*",
    "#fundingFinding*",
    "#ideas*",
    "#infra*",
    "#maintenance*",
    "#mentoring*",
    "#platform*",
    "#plugin*",
    "#projectManagement*",
    "#promotion*",
    "#question*",
    "#research*",
    "#review*",
    "#security*",
    "#tool*",
    "#translation*",
    "#test*",
    "#tutorial*",
    "#talk*",
    "#userTesting*",
    "#video*"
    // END Ignore allcontributors links
  ],
  "markdownlint.configFile": ".config/.markdownlint.yaml",
  {%- if is_template %}
  "ruff.configuration": "${workspaceFolder}/.config/ruff.toml",
  {%- endif %}
  "typos.config": ".config/typos.toml",
  "yamlfmt.args": [
    "-conf config/yamlfmt.yaml"
  ]
}
